WEB_PORT=xxxx
BACKEND_PORT=xxxx
DB_PORT=xxxx
Jwt_key="64CHAR_LONG_JWT_KEY"
DB_PASSWORD="INSERT_DB_PASS"
Connection_string="Host=db:ENTER_DB_PORT;Username=postgres;Password=INSERT_DB_PASS;Database=familyBoard"